<div class="active tab-pane" id="activity">
  <div class="box-body table-responsive no-padding">
    <table id="siswa" class="table table-hover">
      <thead>
        <th>No.</th>
        <th>Nis</th>
        <th>Nisn</th>
        <th>Nama</th>
        <th>Aksi</th>
      </thead>
      <tbody>
        <% for (var i = 0; i < siswa.length; i++) { %>
        <tr>
          <td>
            <%= i+1 %>
          </td>
          <td>
            <%= siswa[i].nis %>
          </td>
          <td>
            <%= siswa[i].nisn %>
          </td>
          <td>
            <%= siswa[i].nama %>
          </td>
          <td>
            <a class="btn btn-success btn-sm" href="/admin/siswa/edit/<%= siswa[i].id %>">
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            </a>
            <button class="btn btn-danger btn-sm" onclick="delete_siswa(`<%= siswa[i].id %>`)">
              <span class="glyphicon glyphicon-remove"></span>
              Delete
            </button>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>