<%- include ../../partials/admin_layout/header.ejs %>
<%- include ../../partials/admin_layout/sidebar.ejs %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

  <!-- Main content -->
  <section class="content">
    <div class="row">

      <div class="col-xs-12">
        <div class="box">
          <!-- /.box-header -->
          <div class="box-header">
            <h3 class="box-title">Data Guru</h3>
          </div>

          <div class="box-body">
            <div style="margin: 0 20px 20px 20px;">
              <button class="btn btn-success">Tambah</button>
            </div>
            <table id="guru" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Nip</th>
                  <th>Nama / Username</th>
                  <th>Status User</th>
                  <th>Aksi</th>
                </tr>
              </thead>
              <tbody>
                <% for (let i = 0; i < guru.length; i++ ) { %>
                <tr>
                  <td><%= i + 1 %></td>
                  <td><%= guru[i].nip %></td>
                  <td>
                    <%= guru[i].nama %> / <%= guru[i].User.username %>
                  </td>
                  <td>
                    <span class="pull-right-container">
                      <% if(guru[i].status === "Active") { %>
                      <small class="label pull-center bg-green"> <%= guru[i].status %></small>
                      <% } else { %>
                      <small class="label pull-center bg-yellow"> <%= guru[i].status %></small>
                      <% }  %>
                    </span>
                  </td>
                  <td>
                    <a href="" class="btn btn-success btn-sm">
                      <span class="glyphicon glyphicon-pencil"></span>
                      Edit
                    </a>
                    <a href="" class="btn btn-danger btn-sm">
                      <span class="glyphicon glyphicon-trash"></span>
                      Delete
                    </a>
                    <% if(guru[i].status === "Active") { %>
                    <a href="" class="btn btn-primary btn-sm">
                      <span class="glyphicon glyphicon-user"></span>
                      Nonactive User
                    </a>
                    <% } else { %>
                    <a href="" class="btn btn-warning btn-sm">
                      <span class="glyphicon glyphicon-user"></span>
                      Active User
                    </a>
                    <% } %>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>

<%- include ../../partials/admin_layout/footer.ejs %>
<!-- page script -->
<script>
  $(function () {
    $('#guru').DataTable()
  })
</script>