<%- include ../../partials/admin_layout/header.ejs %>
<%- include ../../partials/admin_layout/sidebar.ejs %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

  <!-- Main content -->
  <section class="content">
    <div class="row">

      <div class="col-xs-12">
        <div class="box">
          <!-- /.box-header -->
          <div class="box-header">
            <h3 class="box-title">Data ekstra</h3>
          </div>

          <div class="box-body">
            <div style="margin: 0 20px 20px 20px;">
              <!-- <button class="btn btn-success">Tambah</button> -->
              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add-modal">
                <span class="glyphicon glyphicon-plus"></span>
                Tambah
              </button>
            </div>
            <table id="ekstra" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Nama</th>
                  <th>Aksi</th>
                </tr>
              </thead>
              <tbody>
                <% for (let i = 0; i < ekstra.length; i++ ) { %>
                <tr>
                  <td><%= i + 1 %></td>
                  <td>
                    <%= ekstra[i].nama %>
                  </td>
                  <td>
                    <a href="javascript:void(0);" type="button" class="btn btn-success btn-sm edit"
                      data-id="<%= ekstra[i].id %>" data-nama="<%= ekstra[i].nama %>">
                      <span class="glyphicon glyphicon-pencil"></span>
                      Edit
                    </a>
                    <button class="btn btn-danger btn-sm" onclick="delete_ekstra(`<%= ekstra[i].id %>`)"
                      data-id="<%= ekstra[i].id %>">
                      <span class="glyphicon glyphicon-remove"></span>
                      Hapus
                    </button>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>


<!-- include add modal -->
<%- include add_modal.ejs %>

<!-- include edit modal -->
<%- include edit_modal.ejs %>

<%- include ../../partials/admin_layout/footer.ejs %>
<!-- page script -->
<script>
  $(document).ready(function () {
    // datatable
    $('#ekstra').DataTable()

    // redirect halaman ekstra
    function halamanEkstra() {
      window.location.replace(window.location.protocol + "//" + window.location.host + '/admin/ekstra')
    }

    // function simpan
    $('#simpan_ekstra').on('submit', function (event) {
      event.preventDefault();
      $.ajax({
        url: "/admin/ekstra/create",
        method: "POST",
        data: $(this).serialize(),
        success: function () {
          swal({
            title: "Success",
            text: "Success Tambah Data Ekstra",
            icon: "success",
            button: "Oke",
          }).then(sukses => {
            halamanEkstra();
          });
        },
      })
    })

    //showing data to e edit modal 
    $('#ekstra').on('click', '.edit', function () {
      const id = $(this).data('id');
      const nama = $(this).data('nama');

      $('#edit-modal').modal('show');
      $('.id').val(id);
      $('.nama').val(nama);
    });
  })

  // Delete guru 
  function delete_ekstra(id) {
    let idekstra = id;
    swal({
      title: "Yakin Ingin Menghapus Data ekstra ini?",
      text: "Data yang dihapus, tidak bisa kembali lagi.",
      icon: "warning",
      buttons: true,
      dangerMode: true
    }).then(willDelete => {
      if (willDelete) {
        swal({
          title: "Success",
          text: "Success Delete Data ekstra",
          icon: "success",
          button: "Oke",
        }).then(suksesDelete => {
          window.location.assign(`/admin/ekstra/delete/${idekstra}`);
        });
      }
    });
  }


</script>