<%- include ../../partials/wali_kelas_layout/header.ejs %>
<%- include ../../partials/wali_kelas_layout/sidebar.ejs %>
<div class="content-wrapper">

  <section class="content">
    <div class="row">

      <div class="col-xs-12">
        <div class="box box box-solid box-primary">
          <div class="box-header">
            <h3 class="box-title"><i class="fa fa-edit"></i> Validasi Nilai Keterampilan</h3>
            <div class="pull-right">
              <a href="/wali-kelas/validasi/" class="btn btn-success btn-xs">
                <span class="glyphicon glyphicon-arrow-left"></span>
                Kembali
              </a>
            </div>
          </div>
          <div class="box-body">
            <form action="/wali-kelas/validasi/show-nilai-pengetahuan/update" method="POST">
              <div style="margin: 0 20px 20px 20px;">
                <input type="submit" class="btn btn-success" value="Simpan" />
              </div>
              <table id="validasi_nilai" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>Latihan</th>
                    <th>Mid</th>
                    <th>Uas</th>
                    <th>Nilai Akhir</th>
                    <th>Nilai</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <form id="simpan_validasi"> -->
                  <% var no = 0; %>
                  <% for (let i = 0; i < kelompok_siswa.length; i++ ) { %>
                  <% for (let x = 0; x < nilai_pengetahuan.length; x++ ) { %>
                  <%  if(kelompok_siswa[i].SiswaId === nilai_pengetahuan[x].SiswaId){ %>
                  <tr>
                    <td>
                      <%= no + 1 %>
                      <input type="hidden" name="id" value="<%= nilai_pengetahuan[x].id %>" />
                      <input type="hidden" name="MatpelId" value="<%= nilai_pengetahuan[x].MatpelId %>" />
                    </td>
                    <td><%= nilai_pengetahuan[x].Siswa.nama %></td>
                    <td><%= nilai_pengetahuan[x].latihan %></td>
                    <td><%= nilai_pengetahuan[x].uts %></td>
                    <td><%= nilai_pengetahuan[x].uas %></td>
                    <td><%= nilai_pengetahuan[x].nilai_akhir %></td>
                    <td><%= nilai_pengetahuan[x].nilai %></td>
                    <td>
                      <%  if(nilai_pengetahuan[x].status === "Nonactive"){ %>
                      <small class="label bg-red"><%= nilai_pengetahuan[x].status %></small>
                      <% } else { %>
                      <small class="label bg-green"><%= nilai_pengetahuan[x].status %></small>
                      <% } %>
                    </td>
                  </tr>
                  <% } %>
                  <% } %>
                  <% } %>
                </tbody>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>



<%- include ../../partials/wali_kelas_layout/footer.ejs %>
<script>
  $(document).ready(function () {
    // datatable
    $('#validasi_nilai').DataTable()
  })

</script>