<%- include ../../partials/admin_layout/header.ejs %>
<%- include ../../partials/admin_layout/sidebar.ejs %>

<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-solid box-primary">
          <div class="box-header">
            <h3 class="box-title"><i class="fa fa-user-plus"></i> Tambah Set Kelas</h3>
            <div class="pull-right">
              <a href="/admin/set-kelas" class="btn btn-success btn-xs">
                <span class="glyphicon glyphicon-arrow-left"></span>
                Kembali
              </a>
            </div>
          </div>
          <div class="box-body">
            <form role="form" action="" method="POST">
              <div class="box-body">
                <div class="row">
                  <div class="col-md-5">
                    <div class="form-group">
                      <label>Pilih Kelas</label>
                      <select required name="KelasId" class="form-control">
                        <option value="" class="bg-blue"></option>
                        <% for(let i = 0; i < kelas.length; i++) { %>
                        <option value="<%= kelas[i].id %>"><%= kelas[i].nama %></option>
                        <% } %>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">

                  <div class="col-sm-5">
                    <div class="box box-solid box-primary" style="height: 320px;">
                      <!-- /.box-header -->
                      <div class=" box-header with-border">
                        <h3 class="box-title">
                          Pilih Siswa
                        </h3>
                      </div>
                      <div class="box-body">

                      </div>
                      <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                  </div>

                </div>

              </div>
              <div class="box-footer">
                <button type="submit" class="btn btn-success">Simpan</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<%- include ../../partials/admin_layout/footer.ejs %>