<%- include ../../partials/admin_layout/header.ejs %>
<%- include ../../partials/admin_layout/sidebar.ejs %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <% for (let i = 0; i < kelas.length; i++ ) { %>
      <div class="col-xs-6">
        <div class="box">
          <!-- /.box-header -->
          <div class="box-header">
            <h3 class="box-title">
              Tingkat <%= kelas[i].tingkat %> |
              <%= kelas[i].nama %>
            </h3>
          </div>
          <div class="box-body">
            <div style="margin: 0 20px 20px 20px;">
              <!-- <button class="btn btn-success">Tambah</button> -->
              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add-modal">
                <span class="glyphicon glyphicon-plus"></span>
                Tambah
              </button>
            </div>
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Nama</th>
                  <th>Aksi</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <% } %>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>


<%- include ../../partials/admin_layout/footer.ejs %>
<!-- page script -->
<script>
  $(document).ready(function () {
    // datatable
    $('#kelas').DataTable()

    // redirect halaman kelas
    function halamankelas() {
      window.location.replace(window.location.protocol + "//" + window.location.host + '/admin/kelas')
    }
  })
</script>