<%- include ../../partials/wali_kelas_layout/header.ejs %>
<%- include ../../partials/wali_kelas_layout/sidebar.ejs %>

<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-solid box-primary">
          <div class="box-header">
            <h3 class="box-title"><i class="fa fa-book"></i> <%= kelas %> || Input Nilai Keterampilan</h3>
            <div class="pull-right">
              <a href="/wali-kelas/matpel-diampuh" class="btn btn-success btn-xs">
                <span class="glyphicon glyphicon-arrow-left"></span>
                Kembali
              </a>
            </div>
          </div>
          <div class="box-body">
            <%- include table_kelompok_siswa_keterampilan.ejs %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<%- include ../../partials/wali_kelas_layout/footer.ejs %>
<script>
  $(document).ready(function () {
    // datatable
    $('#kelompok_siswa').DataTable()
  })
</script>